<style>
h2{
  margin-top:-6px;
}

img{
  margin-bottom:20px;
}
</style>

<div class="helpmenu">
	<a href="/howtobootleg"><i class="fa fa-info"></i> How to Bootleg</a> | 
	<a href="/howtobootleg/app"><i class="fa fa-mobile"></i> Mobile App (Android)</a> | 
	<a href="/howtobootleg/web"><i class="fa fa-desktop"></i> Manage</a> |
  <a href="/howtobootleg/commission"><i class="fa fa-edit"></i> Commission</a>
</div>

      <div class="page-header" style="margin-bottom:40px;">
        <h1>Using the Bootlegger Mobile App</h1>
        <p class="lead">Bootlegger has a whole bundle of features to help you contribute to great movies. Here's how to use your mobile device to be a member of a Bootlegger film shoot.</p>
      </div>
    
      <div class="row featurette">
      	<a name="login"></a>
      	<div class="col-md-5 col-md-push-7">
          <h2>Join the team</h2>
          <p class="lead">First, you’ll need to sign in with your <strong>Google+</strong> or <strong>Facebook</strong> account. This gives you access to any public Bootlegger event. Enter your username and password and select the event you’re going to. Bootlegger already knows who the musicians are and what time the gig starts.<p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/screenshot_login.png" alt="Choose a template">
        </div>
      </div>

	<hr class="featurette-divider">
      <div class="row featurette">
      	<a name="events"></a><a name="roles"></a>
        <div class="col-md-5">
          <h2>Where are you at?</h2>
          <p class="lead"> Next, tell Bootlegger roughly where you are at the shoot. Bootlegger uses this information to decide what shots to hand out. When you’re in position, hit <strong>Ok, I'm Ready</strong>. 
          
          </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/screenshot_where.png" alt="Choose a template">
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
      	<a name="video"></a>
      	<div class="col-md-5 col-md-push-7">
          <h2>And you’re live…</h2>
          <p class="lead">Now you’re part of a venue-wide camera crew. Bootlegger keeps you updated with what’s going on via the yellow <strong>message bar</strong> at the top of the screen. To access more settings, turn overlays on and off or switch on the light on your device, touch the icons on the right edge of the screen. <br><br>What happens next depends on what kind of Bootlegger shoot you're taking part in. </p> 

        </div>
      	<div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/screenshot_welcome.png" alt="Add crew">
        </div>
        
      </div>

     

     <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <h2>Live Music Events</h2>
          <p class="lead"> Bootlegger uses <strong>overlays</strong> to show you which shots to take. Simply hold up your device and try to match the overlay. <br><br>In a live music event, Bootlegger will make sure someone is always shooting. Every 20 seconds or so, Bootlegger will ask you whether you can get the next shot. Say yes and Bootlegger will automatically count you in and start recording. Say no and Bootlegger will offer you a new shot. <br><br>The <strong>timer</strong> shows whether it’s your turn to choose an angle, shoot some video or take a quick break between shots. </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/screenshot_shooting.png" alt="Meta-data">
       </div>
     </div>

     <hr class="featurette-divider">
      <div class="row featurette">
        
        <div class="col-md-5 col-md-push-7">
          <h2 >Other shoots</h2>
          <p class="lead">For Bootlegger shoots based on other templates, you choose what and when to shoot. Bootlegger will ask you to collect a list of shots while the shoot is running. After every shot, Bootlegger 
            will ask you to select another one from the list.<br><br> The indicator at the bottom right of each thumbnail shows you how many shots are left to collect.</p>
           
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/screenshot_select.png" alt="Shooting">
        </div>
      </div>

       <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <h2 >What's happening?</h2>
          <p class="lead">To see more information about the shoot, swipe from the left of the screen and select the <strong class="fa fa-gear"></strong> icon to the right of the screen. The <strong>all shots</strong> tab shows every shot in the template. To change your location go to the <strong>settings</strong> tab and hit <strong>Change Role</strong>.</p> 
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/screenshot_settings.png" alt="Shooting">
       </div>
     </div>

     <hr class="featurette-divider">
      <div class="row featurette">
      	<a name="uploads"></a>
      	 <div class="col-md-5 col-md-push-7">
          <h2>That's a wrap</h2>
          <p class="lead">When you’re finished, hit back a couple of times to get to your profile. Then hit the button on the large orange tile. <br><br><strong>Remember:</strong> video files can be large, it’s best to connect to Wi-Fi to do this.</p>
           
        </div>
        <div class="col-md-5 text-center col-md-pull-5">
          <img class="featurette-image img-responsive" style="max-height:500px"src="/static/images/help/screenshot_upload.png" alt="Shooting">
        </div>
       
      </div>
