<style>
h2{
  margin-top:-6px;
}

img{
  margin-bottom:20px;
}
</style>
<div class="helpmenu">
	<a href="/howtobootleg"><i class="fa fa-info"></i> How to Bootleg</a> | 
	<a href="/howtobootleg/app"><i class="fa fa-mobile"></i> Mobile App (Android)</a> | 
	<a href="/howtobootleg/web"><i class="fa fa-desktop"></i> Manage</a> |
  <a href="/howtobootleg/commission"><i class="fa fa-edit"></i> Commission</a>
</div>
      <div class="page-header" style="margin-bottom:40px;">
        <h1>Commissioning Your Own</h1>
        <p class="lead">Bootlegger’s templates are designed to be a first step to making your own film project but the story doesn’t end there...</p>
      </div>
    
      <div class="row featurette">
      	<div class="col-md-5 col-md-push-7">
          <h2>Editing Templates</h2>
          <p class="lead">Bootlegger’s templates are great for putting a project together quickly but once you're familiar with how Bootlegger works, you can start to plan your own projects. Click on the <strong>Commission</strong> tab and you can control what your camera crew will be asked to shoot. <p>
        </div>

        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/commissioning.jpg" alt="Choose a template">
        </div>
        
      </div>

	<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <h2>Set It Up</h2>
          <p class="lead"> Under the <strong>General Settings</strong> tab you can control what your camera crew will be asked to shoot. You can decide whether the event is public or invitation only and switch between <strong>Auto-Director</strong> and <strong>Shot-Palette</strong> modes (see the <a href= "/howtobootleg/web">previous page</a> for more info).  
          
          </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/editing_template.jpg" alt="Enter Details">
        </div>
      </div>

           
     <hr class="featurette-divider">
      <div class="row featurette">
      	
        <div class="col-md-5 col-md-push-7">
          <h2>Phases and Roles </h2>
          <p class="lead">Tweak the details by clicking the <strong>Shots and Roles</strong> tab. To help organise the shoot, you can divide it into phases. These can be anything from ‘Day 1’, to ‘Before the Action Starts’; whatever helps you out. As the event director, you can switch from one phase to another at any time in the shoot. To add a new phase click on the + icon. To edit an existing phase, click on the pen icon. <br><br>  When your crew log into the shoot, they will be asked to select a Role. This might be a location such as backstage at a music event or at the first location in a documentary. Alternatively, you could use roles to let your crew choose to shoot only wide shots, or stick with dialog. Once again, click on the + and pen icons to add new roles or edit existing ones.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/shots_and_roles.jpg" alt="Add crew">
        </div>
      </div>

     <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <h2>Frame By Frame</h2>
          <p class="lead">Each shoot contains a number of shots, shown at the bottom of the page. Click on a role above and green ticks appear over the shots which that role contains. To add or remove shots from a role, just click on the green tick. Each shot has an image, a title and a description. In the bottom right corner of each is a set of buttons which decide whether it should be video, audio or a still image. <br><br>The Bootlegger mobile app uses these shots as instructions for the crew, helping them to compose their shots and keep track of what they’re shooting. Click on the icons to the right to copy, delete and edit each shot.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/select_shots.jpg" alt="Meta-data">
       </div>
     </div>

     <hr class="featurette-divider">
      <div class="row featurette">
        
        <div class="col-md-5 col-md-push-7">
          <h2>From the Archive</h2>
          <p class="lead">To make a new shot, click on the add shot from archive button. Here you can choose the right shots for your shoot from a library of hundreds of images.<br><br> And that's it. All the tools you need to get your crew shooting exactly what you want.</p>
           
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/select_archive.jpg" alt="Shooting">
        </div>
      </div>