<div class="clearfix"></div>
<div class="row" style="margin-top:-23px;">
<div class="col-sm-12"><a href="/"><i class="fa fa-chevron-left"></i> Back to Bootlegger</a></div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h1 style="margin-top:0;">What is Bootlegger?</h1>
		<p>Bootlegger allows your to organise a film shoot and get people to help you capture footage. It provides an online tool that helps organise the shoot, and a mobile application which helps you decide what to film and when.</p>
		<div class="text-center">
			<img class="img-responsive" src="/static/images/help/simple.png"><br>
			<span class="text-muted"><small>HOW YOU FIT INTO BOOTLEGGER</small></span>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-sm-4">
		<h3><i class="fa fa-mobile"></i> Mobile App</h3>
		<p style="min-height:100px;">The Android Bootlegger app helps you participate in film shoots. Just download the app and follow the instructions to get involved. Upload footage using WiFi when you're done.</p>
		<a href="/howtobootleg/app" class="btn btn-lg btn-success">View Help...</a>
	</div>

	<div class="col-sm-4">
		
		<h3><i class="fa fa-desktop"></i> Shoot Manager</h3>
		<p style="min-height:100px;">The Bootlegger website lets you organise and plan a film shoot. Easy to use settings allow you to tailor it to your needs, and then get participants involved.</p>
		<a href="/howtobootleg/web" class="btn btn-lg btn-success">View Help...</a>
	</div>

    <div class="col-sm-4">
    
    <h3><i class="fa fa-edit"></i> Commission Editor</h3>
    <p style="min-height:100px;">Bootlegger acts like your personal director. You can control what shots, how many, location and subject. This flexible structure supports any kind of shoot scenario.</p>
    <a href="/howtobootleg/commission" class="btn btn-lg btn-success">View Help...</a>
  </div>
</div>

	<div class="row clearfix" style="margin-top:30px;">
		<div class="col-xs-12">
      <div class="page-header">
        <h1>FAQs <small>Everything you wanted to know about Bootlegger but were afraid to ask</small></h1>
      </div>
      <strong>What is Bootlegger?</strong>
      <p>Bootlegger is an integrated solution for helping people make videos together using mobile devices.</p>
      <strong>How does it work?</strong>
      <p>Bootlegger organises film shoots using collections of shots organised by genre called <strong>templates</strong>. For instance: a live music video might contain wide shots of the band, closeups of the musicians and detail shots of their instruments. For a step by step explanation of how to use Bootlegger <a href="/howtobootleg/commission">click here</a>.</p>
      <strong>How many people can share a Bootlegger event?</strong>
      <p>As many as you like! The only limit to the size of Bootlegger projects is your imagination.</p>
      <strong>Does Bootlegger share my details with anyone?</strong>
      <p>Not without your permission. At every event you can choose how your footage is shared with organisers and crew.</p>
      <strong>What can I do with Bootlegger videos once they're uploaded?</strong>
      <p>Bootlegger’s <strong>watch</strong> page lets you make basic edits of footage from your event. Alternatively, you can load your footage into editing software such as Final Cut Pro or Adobe Premiere and let Bootlegger’s <strong>EDL exporter </strong> take the work out of logging clips.</p>
      <strong>Does bootlegger need a good 3G/4G signal?</strong>
      <p>Bootlegger <strong>live music events</strong> need a 3G or 4G connection to support real-time coordination between partcipants. All other bootlegger events can run without 3G after you’ve initially joined the film crew for an event.</p>
      <strong>How big are Bootlegger video files?</strong>
      <p>Bootlegger uses your mobile device’s camera at the best settings it can find, so file size can vary. When using Bootlegger it’s a good idea to make sure you have plenty of free space on your mobile device and only upload footage over WiFi.</p>
      <strong>Can I get bootlegger for Apple and Windows phones?</strong>
      <p>Not yet but we’re working on it!</p>
  </div>

  </div>