<style>
h2{
  margin-top:-6px;
}

img{
  margin-bottom:20px;
}
</style>
<div class="helpmenu">
	 <a href="/howtobootleg"><i class="fa fa-info"></i> How to Bootleg</a> | 
  <a href="/howtobootleg/app"><i class="fa fa-mobile"></i> Mobile App (Android)</a> | 
  <a href="/howtobootleg/web"><i class="fa fa-desktop"></i> Manage</a> |
  <a href="/howtobootleg/commission"><i class="fa fa-edit"></i> Commission</a>
</div>
      <div class="page-header">
        <h1>Setting Up A Shoot</h1>
        <p class="lead">Bootlegger has a whole bundle of features to help you make great movies. Here's how to set up a Bootlegger film shoot via the Bootlegger website.</p>
      </div>

      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2>Choose your style.</h2>
          <p class="lead">Go to <a href="/"> bootlegger.tv </a> and log in using your <strong>Google + Account</strong>. This is where you create your film project. Hit <strong>My Shoots</strong> and select an existing shoot from the list or create a new one by hitting <strong>+ Start New Shoot</strong>.<br><br> The first page you’ll see is the <a href= "/commission">Commission </a> page. Bootlegger has a range of templates for different types of film project. Choose the closest match to yours (you can always tweak it later).</p>
          <p> For more info about making your own templates, <a href="/howtobootleg/commission">click here</a><p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/choose_template.jpg" alt="Choose a template">
        </div>
      </div>

	<hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <h2>Give it a name</h2>
          <p class="lead"> Now you can see which shots your crew will be asked to collect. Give your project a name and a start and finish time. This decides when crew can log into the event and start shooting.
          </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/enter_details.jpg" alt="Enter Details">
        </div>
      </div>

           
     <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5 col-md-push-7">
          <h2>Set up</h2>
          <p class="lead">The <strong>Prepare</strong> tab is where you set up your shoot. The <strong>Production Team</strong> section is where you decide who gets to be on the crew. You can send out individual codes to invite people to the event. To do this, click add on the <strong>mobile number</strong> tab. Alternatively, you can make the event public, so that anyone using Bootlegger can join.<br><br></p> 

        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/setup_shoot.jpg" alt="Add crew">
        </div>
      </div>

     <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <h2>Who to shoot...and when</h2>
          <p class="lead">Scroll down to use the <strong>Event Meta-Data</strong> box to select who or what should be in the frame. This helps Bootlegger compose good-looking, consistent shots. <strong>Phases</strong> can be used to mark different periods of the shoot. Use them to tell your crew the show they're filming is being set up or has started, or on which day of a shoot footage was shot.</p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/setup_shoot2.jpg" alt="Meta-data">
       </div>
     </div>

     <hr class="featurette-divider">
      <div class="row featurette">
        
        <div class="col-md-5 col-md-push-7">
          <h2>In the director's chair</h2>
          <p class="lead">Hit the Shooting tab and you can see how many crew are live, who’s shooting right now and what shots they’re getting. <br><strong>Note</strong><br> When it's time to shoot, different Bootlegger templates handle things differently. In a shoot based on the <strong>live music</strong> or <strong>live ball sports</strong> templates, Bootlegger asks users to shoot at regular intervals, making sure someone's always covering the action. The red, green and orange bars show who's shooting, who's choosing a shot and who's being counted down.</p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/watch_shoot1.jpg" alt="Shooting">
        </div>
      </div>

       <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <h2>Other templates</h2>
          <p class="lead"> For a shoot based on any other template, users can shoot when they like. You can still see who's shooting and watch thumbnails appear every time a clip is recorded.</p> 
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/watch_shoot2.jpg" alt="Shooting">
       </div>
     </div>


     <hr class="featurette-divider">
      <div class="row featurette">
        
        <div class="col-md-5 col-md-push-7">
          <h2>That's a wrap</h2>
          <p class="lead">When the shoot’s finished, click on the <strong>Post-Production</strong> Tab. At the end of the event, Bootlegger can generate a list of all footage collected or an EDL (Edit Decision List) file that can be loaded into Adobe Premier or Final Cut Pro XML. Load this into your editing software and all your clips should appear, ordered by time. For live music events, you can also use an audio track recorded separately to sync your footage.</p>
           
        </div>
        <div class="col-md-7 col-md-pull-5">
          <img class="featurette-image img-responsive" src="/static/images/help/post_production.jpg" alt="Shooting">
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <h2>Gather your footage</h2>
          <p class="lead">Hit the <strong>Sync to My Dropbox</strong> button and sign in to enable Bootlegger to sync your footage to Dropbox. Now all the footage collected by Bootlegger for your camera crew will be ready for you to start editing...</p> 
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/static/images/help/export.jpg" alt="Shooting">
       </div>
     </div>